section#content {
    height: 100vh;

    .main-card {
        border-radius: 2rem;
    }

    .header-line {
        font-family: 'Flow Rounded';
        color: rgb(137, 135, 135);
    }
}