#pills-about {
    #contact-info, #summary-info {
        height: 300px;
    }

    #summary-info {
        height: 300px;
        
        p {
            text-align: justify;
        }
    }
}
